.skeleton-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;

    .header-skeleton {
      display: flex;
      margin-bottom: 20px;

      .skeleton-item {
        margin: 0 5px;
      }
    }

    .row-skeleton {
      display: flex;
      margin-top: 10px;

      .skeleton-item {
        margin: 0 5px;
      }
    }
  }


@media (max-width: 768px) {
  .skeleton-overlay {
    .header-skeleton,
    .row-skeleton {
      width: 100%;
    }

    .header-skeleton .skeleton-item,
    .row-skeleton .skeleton-item {
      flex-basis: 25%;
    }

    .header-skeleton .skeleton-item:nth-child(n+5),
    .row-skeleton .skeleton-item:nth-child(n+5) {
      display: none; // Hide skeleton items after the 4th item
    }
  }
}
