.skeleton-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;

  .row-skeleton {
    display: flex;
    margin-top: 10px;

    .skeleton-item {
      margin: 0 5px;
    }
  }
}


@media (max-width: 768px) {
  .skeleton-overlay {
    .row-skeleton {
      width: 100%;
    }

    .row-skeleton .skeleton-item {
      flex-basis: 33.33%;
    }

    .row-skeleton .skeleton-item:nth-child(n+4) {
      display: none; // Hide skeleton items after the 3th item
    }
  }
}
