.table-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .btn {
    &.btn-contained {
      /* Customize the 'Create new user' button style if needed */
    }

    &.btn-outlined {
      /* Customize the 'Duplicate', 'Delete', 'Export' button styles */
    }
  }

  .btn-outlined--export {
    margin-left: auto;  // Push Export button to the end
  }
}
