
.search-area {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 8px;
  .icon-area {
    min-height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }

  .search-area-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    .search-tag {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
      background-color: #F6F6F6;
      border-radius: 6px;
      padding: 0 8px;
      span {
        font-weight: 500;
      }
      .close-icon {
        cursor: pointer;
      }
    }


    .input-area {
      min-width: 256px;
      height: 30px;
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 8px;
      border-radius: 25px;
      border: 1px solid transparent;
      font-family: "Roboto", sans-serif;
      &:focus-within {
        width: 256px;
        flex: none;
        border: 1px solid blue;
        background-color: #F6F6F6;
      }
      input {
        width: 300px;
        background-color: transparent;
        border: none;
        outline: none;
        &:focus, &:active {
          outline: none;
          border: none
        }
      }
    }
  }

  .search-area-right {
    height: 30px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    .clear-tags-button {
      height: 30px;
      padding: 4px 16px;
      text-transform: capitalize;
      color: #494949;
      border: none;
      border-radius: 8px;
      background-color: inherit;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #F6F6F6;
        cursor: pointer;
      }
    }
  }
}